h1 {color:blue;
font-size: 40px;}
h2 {font-size: 35px;}
.square-list li {
    font-size: 30px;
    padding-left: ;
}
p {font-size: 20px;
}
.square-list {
    list-style-type: square;
    border: 2px solid rgb(15, 18, 211);

    margin:10px 10px 5px 8px;
}
#list {
    background-color: burlywood;
}

.button {
    display:block; 
    width:20%;
    margin:0 auto;
    position:relative;
    font-style:normal;
    font-weight:normal;
    font-family:"Open Sans";
    font-size:14px;
    outline:none;
    color:#fff;
    border:none;
    text-decoration:none;
    text-align:center;}

.tab {
    text-indent: 40px; }